<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="CampaignId" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		<section name="ContactList" type="System.Configuration.AppSettingsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
	</configSections>
	
	<!--Campaign Ids--> 
	<CampaignId>
		<add key="na" value="3835b45b-2074-44e0-9458-ecb1a041ad24" />
		<add key="lv" value="ae0fb418-2aca-4da3-a156-f7e8440da3ce" />
	</CampaignId>

	<!--General Settings-->
	<appSettings>
		<add key="clientId"             value="cedb1b0b-04b5-4e0d-9d2d-b439ada37564"/>
		<add key="clientSecret"         value="3oXgojVNcWfPqPeUxEBneHd66rUpgchVlMrd81FOZXs"/>

		<add key="queueId"				value="d7245254-f9fc-4f78-b39c-30fbe994e837"/>

		<add key="quarantinePeriod"		value="90"/>

		<add key="contactListPeriod"	value="30"/>

		<add key="noSurveyWrapupCode"	value="ec02ce50-96cc-460b-80ef-1fae5368cb66"/>
	</appSettings>
</configuration>