<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="clientId"             value="cedb1b0b-04b5-4e0d-9d2d-b439ada37564"/>
		<add key="clientSecret"         value="3oXgojVNcWfPqPeUxEBneHd66rUpgchVlMrd81FOZXs"/>

		<add key="queueId"         value="d7245254-f9fc-4f78-b39c-30fbe994e837"/>
		<add key="campaignId"         value="face6225-3995-4ad9-a5af-c6b7f0d21a53"/>
	
	</appSettings>
</configuration>